<div class="col-md-4 col-lg-3">
    <!--<div class="widget">-->
        <!--<div class="widget-body text-center">-->
            <!--<a href="">-->
                <!--<img src="/static/assets/images/people/250/22.jpg" width="120"-->
                     <!--alt="" class="img-circle">-->
            <!--</a>-->
            <!--<h2 class="strong margin-none">Adrian Demian</h2>-->
            <!--<div class="innerB">Working at MOSAICPRO</div>-->
            <!--<a href="" class="btn btn-primary text-center btn-block">PRO Account</a>-->
            <!--<div class="btn-group-vertical btn-block">-->
                <!--<a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>-->
                <!--<a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="widget">
        <h5 class="innerAll margin-none border-bottom bg-gray">User List for Parent sns</h5>
        <div class="widget-body padding-none">

            <div class="media border-bottom innerAll margin-none" ng-model="user_lists" ng-repeat="user in user_lists">
                <img src="/static/assets/images/people/35/22.jpg" class="pull-left media-object" />
                <div class="media-body">
                    <a href="" class="pull-right text-muted innerT half">
                        <i class="fa fa-comments"></i> {{user.id}}
                    </a>
                    <h5 class="margin-none"><a href="" class="text-inverse">{{user.firstName}} {{user.lastName}}</a>
                    </h5>
                    <small>{{user.email}}</small>
                </div>
            </div>

            <!--
            <div class="media border-bottom innerAll margin-none">
                <img src="/static/assets/images/people/35/22.jpg" class="pull-left media-object" />
                <div class="media-body">
                    <a href="" class="pull-right text-muted innerT half">
                        <i class="fa fa-comments"></i> 4
                    </a>
                    <h5 class="margin-none"><a href="" class="text-inverse">Timeline Cover Page</a>
                    </h5>
                    <small>on February 2nd, 2014</small>
                </div>
            </div>
            <div class="media border-bottom innerAll margin-none">
                <img src="/static/assets/images/people/35/22.jpg" class="pull-left media-object" />
                <div class="media-body">
                    <a href="" class="pull-right text-muted innerT half">
                        <i class="fa fa-comments"></i> 4
                    </a>
                    <h5 class="margin-none"><a href="" class="text-inverse">1000+ Sales</a>
                    </h5>
                    <small>on February 2nd, 2014</small>
                </div>
            </div>
            <div class="media border-bottom innerAll margin-none">
                <img src="/static/assets/images/people/35/22.jpg" class="pull-left media-object" />
                <div class="media-body">
                    <a href="" class="pull-right text-muted innerT half">
                        <i class="fa fa-comments"></i> 4
                    </a>
                    <h5 class="margin-none"><a href="" class="text-inverse">On-Page Optimization</a>
                    </h5>
                    <small>on February 2nd, 2014</small>
                </div>
            </div>
            <div class="media border-bottom innerAll margin-none">
                <img src="/static/assets/images/people/35/22.jpg" class="pull-left media-object" />
                <div class="media-body">
                    <a href="" class="pull-right text-muted innerT half">
                        <i class="fa fa-comments"></i> 4
                    </a>
                    <h5 class="margin-none"><a href="" class="text-inverse">14th Admin Template</a>
                    </h5>
                    <small>on February 2nd, 2014</small>
                </div>
            </div>
            -->
        </div>
    </div>
    <!-- Widget -->
    <!--<div class="widget widget-heading-simple widget-body-white">-->
        <!--&lt;!&ndash; Widget Heading &ndash;&gt;-->
        <!--<div class="widget-head">-->
            <!--<h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>-->
        <!--</div>-->
        <!--&lt;!&ndash; // Widget Heading END &ndash;&gt;-->
        <!--<div class="widget-body" data-builder-exclude="element children">-->
            <!--<div class="jstwitter" data-gridalicious="false" data-type="slide" data-images="false">-->
                <!--<span class="label label-default">Loading ..</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- // Widget END -->
</div>
</div>
</div>
</div>